<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绿动北京足球俱乐部</title>
    <meta name="author" content="cx9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <!-- Bootstrap CSS (bootswatch) -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-TgQmpeh1IG9vQ1WxIzpdfm5FX08N4+Nr5uzpgqvZAKQwWems+NIMmOVIMFxGq6EZ" crossorigin="anonymous">

</head>
</head>
<body>

<main>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">绿动北京足球俱乐部</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/player">Player</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fee">Fee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="jumbotron">
        <h1 class="display-6" style="text-align: center;">绿动是冠军！</h1>
        <hr class="my-4">
        <p class="lead">
            <img src="../static/img/champion.jpg" width="100%" height="auto" alt="">
        </p>
    </section>

</main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script language="JavaScript" type="application/javascript">
    $('#uSubmit').click(function () {
        get_user($('#uName').val());
        get_feeList($('#uName').val());
    });

//get a user details
function get_user(name) {
	$.ajax({
        url: "/api/get_user_by_name?n=" + name,
        type: "GET",
        dataType: "json",
        success: function (data) {
            $('#detail').html(JSON.stringify(data));
        },
        error: function (response, status, error) {
            console.log('Error: ' + error + ". Status: " + status);
        },
        async: false
	});
}


function get_feeList(name) {
	$.ajax({
        url: "/api/get_feeList_by_name?n=" + name,
        type: "GET",
        dataType: "json",
        success: function (data) {
            var rowStr = '<table>';
            for (var i=0; i < data.length; i++){
                var row = data[i];
                var user = row.user;
                var date = row.date;
                var loc = row.loc;
                var amount = row.amount;
                rowStr = rowStr + '<tr><td>' + user + '</td><td>' + date + '</td><td>' + loc + '</td><td>' + amount + '</td></tr>';
            }
            rowStr = rowStr + '</table>'
            $('#feeList').html(rowStr);
        },
        error: function (response, status, error) {
            console.log('Error: ' + error + ". Status: " + status);
        },
        async: false
	});
}

</script>
</body>
</html>